<!DOCTYPE html>
<html>
    
    <body>
    <h1>{{rest.name}} </h1>
    {% for i in item %}
        
    <div>
        <p>{{ i.name }}</p>
        <p>{{i.price }}</p>
        <p>{{i.description}}</p>
    
        <br>
        
        <p><a href="{{url_for('editMenuItem', restaurant_id = rest.id, menu_id = i.id)}}">eidt</a><p>
    
        <p> <a href="{{url_for('deleteMenuItem',restaurant_id = rest.id,menu_id = i.id)}}">delete</a></p>
        
        </div>
        {% endfor %}
    
    
    </body>
</html>